
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 @font-face{
  font-family:"San Francisco Display";
  src: 
  url("./assets/fonts/San/SFPRODISPLAYREGULAR.OTF"),
  url("./assets/fonts/San/SFPRODISPLAYBOLD.OTF"),
  url("./assets/fonts/San/SFPRODISPLAYMEDIUM.OTF");
  font-weight:normal;
  font-style:normal;
} 

